{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock head %}


{% block content %}

<div>
    {% if object %}
        <h1>Edit </h1>
    {% else %}
        <h1>Add a Post</h1>
    {% endif %}
    
    <form action="" method="post" enctype="multipart/form-data">
    
        {% csrf_token %}
        <table>
            {{ form.as_table}}
        </table>
        <button type="submit">Submit</button>
    </form>
</div>


{% endblock content %}
